html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/* Style for nav Bar */
nav{
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: cadetblue;
    color: white;
    box-sizing: border-box;
    padding-top:20px;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 0;
}

/* style for navItems */
.navItem {
    text-decoration: none;
    color: inherit;
    padding:10px;
    font-size: 18px;
}
a:hover{
    color: yellow;
}

.hide{
    display: none;
}
/* Style for cover image */
.cover{
    height: 400px;
    width: 100%;
}

/* Style for textinput box */
.textInput{
    outline: none;
    border:2px solid teal;
    width: 20%;
    font-size: 15px;
    padding: 5px;
    height: 35px;
    border-radius: 8px;
}

/* headind style of the four section */
.sectionHeading{
    font-size: 23px;
    letter-spacing: 2px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select{
    width: 21%;
    height: 35px;
    border:2px solid teal;

}
button{
    outline: none;
    border: none;
    height: 27px;
    background-color: teal;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
}
button:hover{
    background-color:aquamarine;
    color:black;
}

textarea{
    width: 20%;
    border: none;
    border: 2px solid teal;
    font-size:15px;
    resize: none;
}


/* Style for pricing section */
.pricingSection{
    display: flex;
    flex:1;
    justify-content: space-evenly;
    }
    @media(max-width:992px){
        .pricingSection{
            align-items: center;
            flex-direction: column;
        }
    }
    
    .priceCard{
        margin-bottom: 20px;
        padding: 20px 25px;
        border:1px solid teal;
        border-radius: 10px;
    }

.circle{
    border:1px solid teal;
    display: inline-block;
    border-radius: 90px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.allOffers{
    color: gray;
    font-size: 13px;
}

.vehicleType{
    font-size: 20px;
    font-weight: bold;
}

.bestPrice{
    font-weight: bold;
    font-size: 20px;
}
.currencyConv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchCur{
    border:1px solid aquamarine;
    background-color: white;
    color: black;
    margin:10px 0px;

}
.selected{
    background-color: aquamarine;
}

/* styles for collapsible bars */
.collapsible{
    background-color: teal;
    color: whitesmoke;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.show{
    font-size: 25px;
    font-weight: bolder;
    color: whitesmoke;
    cursor: pointer ;
}

.active, .collapsible:hover {
    background-color:darkcyan;
  }
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .collapsible>span:after{
      content: '+';
  }

  .active>span:after{
    content: "-";
}

.salutation{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.error{
    outline: none;
    border:2px solid red;
}
.errorText{
    margin-top: 10px;
    display: none;
}
