
body{
  margin: 0;
  background-color: #eff3ff;
}
.sidebar{
  background-color: white;
  flex:1;
  height: 100vh;
}

.main-container{
  margin:0
}

.sidebar-title{
  font-size: 23px;
  font-weight: 900;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.side-menu-start{
  font-size: 14px;
  color: gray;
}

.badge{
  right:3px;
}

.accordion-button::after{
transform: rotate(-90deg);
background-size: 16px;
}
.accordion-button:not(.collapsed)::after{
  transform: none;
}

.sub-options{
  border: none;
  background-color:inherit;
  color: gray;
}

.accordion-button:focus{
  border: none;
  box-shadow: none;
}
.accordion-item{
  border: none;
}
.accordion-button:not(.collapsed){
  box-shadow: none;
}

.topbar{
  background-color: #5b6be8;
  flex:1
}

.search{
  border: 1px solid #6d7beb;
  background: #6d7beb;
  font-size: 13px;
  color: #ffffff;
  height: 34px;
  width: 200px;
  padding-left: 19px;
  padding-right: 10px;
  margin-left: 10px ;
  box-shadow: none;
  outline: none;
  border-radius: 30px;
}
.search-icon{
  position: absolute;
  right: 15px;
  top: 10px;
  fill: white;
}
::placeholder{
  color: lightgray;
  opacity: 0.8;
  font-weight: 300;
}

.btn-lang{
  font-weight: 600;
}

.content-container{
  flex:4
}
.main-content{
  flex:10
}